<section id="menu">
    <div class="menu-content">
        <ul class="groups">
            {% for group in menu|selectattr("inFlyout")|sort(false, false, 'order') %}
            <li class="{{group.size}}">
                <h1>{{group.name}}</h1>
                <ul>
                    {% for item in group.items|sort(false, false, 'order') %}
                    <li>
                        <a {{'class=' + item.class + '' if item.class}} {{'target=' + item.target + '' if item.target}} href="{{item.url}}">{{item.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>