<section id="dev">
    <h1>Package a <em>service</em></h1>
    <div class="cols">
        <div class="col">
            <div class="wrapper">
                <div class="content">
                    <p>Interested in packaging a service?<br/><em>Our community runs on devs like you.</em></p>
                    <p>There are <a href="https://github.com/awesome-selfhosted/awesome-selfhosted" target="_blank" rel="noopener noreferrer">thousands</a> of wonderful open-source services out there - just waiting to be added to the Embassy Marketplace.</p>
                    <p>If you're familiar with Docker or Rust (or want to learn!), check out our step-by-step packaging tutorials.</p>
                </div>
                <div class="footer">
                    <a class="btn" href="{{ site.dev.url }}">learn more</a>
                </div>
            </div>
        </div>
        <div class="col hide-on-mobile">
            <div class="code-wrapper"><img src="/assets/images/dockerfile.png" alt="screenshot of dockerfile" title="screenshot of dockerfile"></div>
        </div>
    </div>
</section>