<section id="hero">
    <div id="hero-image" class="image-with-shadow">
        <img src="/assets/images/explosion.png" alt="start9 hero; voxel explosion" title="start9 hero; voxel explosion">
        <img as="image" class="img-shadow" src="/assets/images/explosion.png" alt="">
    </div>
    <div id="logo">
        {% include "svgs/logo.svg" %}
        <span>sovereign computing</span>
    </div>
</section>
