<section id="how">
    <h2>How does it work?</h2>
    <div class="cols">
        <div class="col">
            <h3>Simple & Fast</h3>
            <div class="path-node">
                <h4>For Everyone</h4>
                <p>No assembly required.</p>
                <p>No coding.</p>
                <p>No command line.</p>
                <p>Just plug it in.</p>
            </div>
        </div>
        <div class="col">
            <h3>DIY</h3>
            <div class="path-node">
                <h4>For the Tinkerer</h4>
                <p>You assemble the hardware.</p>
        <p>You download the OS or build from source.
        </p>
            </div>
        </div>
    </div>
</section>