<section id="infographics">
    <div class="subsection subsection--trust">
        <h1>The problem is
            <em>trust</em>
        </h1>
        <p>
            <em>Whoever controls your data, controls you.</em>
            App companies can see your pictures, read your documents, listen to your conversations, track your location, sell your
            private information, permanently delete your data, or cut you off at any time. Even if the companies behind these apps
            are not malicious, they are prime targets for hackers and are vulnerable to political winds.</p>
        <div id="big-tech-network-image-block" class="image-with-shadow">
            {% include "svgs/big-tech-network-diagram.svg" %}
            <div class="img-shadow">{% include "svgs/big-tech-network-diagram.svg" %}</div>
        </div>
    </div>
    <div class="subsection subsection--control">
        <h1>Take back
            <em>control</em>
        </h1>
        <p>The only way to be free is to cut out the middle men and take control of your data by running a personal server.
            <br>
                <br>
                    In the past, running a server was only possible for highly technical people or those who could afford to hire them;
                    namely software developers, corporations, wealthy individuals, and politicians.
                    <em>Start9 levels the playing field</em>
                    by making it possible for the rest of us.</p>
                <div id="embassyos-network-image-block" class="image-with-shadow">
                    {% include "svgs/embassyos-network-diagram_red_extended.svg" %}
                    <div class="img-shadow">{% include "svgs/embassyos-network-diagram_red_extended.svg" %}</div>
                </div>
            </div>
        </section>