<section id="pitch">
    <h1>
        We make personal servers to make you <em>unstoppable</em>
    </h1>
    <p>
        We make a personal server called an <em>Embassy</em> that puts you in control of your data, your money, and your digital life.
    </p>
    {# <a class="btn" href="{{ site.pitch.url }}">learn more</a> #}
    {# <iframe id="odysee-iframe" width="560" height="315" src="https://odysee.com/$/embed/@purism:8/introducing-pureboot-basic:d?r=B2sJWhwiPNQDy457RV1NjAYxDb6uiHGm" allowfullscreen></iframe> #}
</section>
