<section id="support" class="section--subtle panel--shadow">
  <h1>Get
    <em>help</em>
  </h1>
  <div class="cols">
    <div class="col">
      <p>
        Even though we've made it easy, running a personal server can still be intimidating or confusing at times.
      </p>
      <p>
        At Start9, we pride ourselves on providing the <em>best customer support in the world</em>. We offer a comprehensive and detailed
        user manual, an extensive FAQ, written and video tutorials, and direct access to our wonderful community and team of
        technical experts.
      </p>
    </div>
    <div class="col">
      <div class="image-with-shadow">
        <img src="/assets/images/support-header.png" alt="life preserver icon" title="life preserver icon">
        <img class="img-shadow" src="/assets/images/support-header.png" alt=""></div>
    </div>
  </div>
  <a class="btn" href="{{ site.support.url }}">meet the team</a>
</section>