---
title: Start9 | Sovereign Computing
layout: layouts/base.njk
---

<link rel="stylesheet" href="/assets/styles/landing.css">

{% include "components/landing/hero.njk" %}

<div class="line" id="hero-to-pitch">
    {% include "svgs/lines/hero-to-pitch.svg" %}
</div>

{% include "components/landing/pitch.njk" %}

{% include "components/landing/products.njk" %}

<div class="line" id="products-to-info">
    {% include "svgs/lines/products-to-info.svg" %}
</div>


{% include "components/landing/infographics.njk" %}

{% include "components/landing/bitcoin.njk" %}

<div class="line" id="bitcoin-to-be">
    {% include "svgs/lines/bitcoin-to-be.svg" %}
</div>

{% include "components/landing/be-your-own.njk" %}

<div class="line" id="be-to-powered">
    {% include "svgs/lines/be-to-powered.svg" %}
</div>

{% include "components/landing/powered-by.njk" %}

<div class="line" id="powered-to-support">
    {% include "svgs/lines/powered-to-support.svg" %}
</div>

{% include "components/landing/support.njk" %}

<div class="line" id="support-to-dev">
    {% include "svgs/lines/support-to-dev.svg" %}
</div>

{% include "components/landing/dev.njk" %}

<div class="line" id="dev-to-contact">
    {% include "svgs/lines/dev-to-contact.svg" %}
</div>

{% include "components/landing/community.njk" %}

<script defer src="{{ '/assets/js/libraries/gsap.min.js' | url }}"></script>
<script defer src="{{ '/assets/js/libraries/ScrollTrigger.min.js' | url }}"></script>
<script defer src="{{ '/assets/js/libraries/DrawSVGPlugin.min.js' | url }}"></script>
<script defer src="{{ '/assets/js/libraries/CustomEase.min.js' | url }}"></script>
<script defer src="{{ '/assets/js/_header.js' | url }}"></script>
<script defer src="{{ '/assets/js/_menu.js' | url }}"></script>
<script defer src="{{ '/assets/js/_hero.js' | url }}"></script>
<script defer src="{{ '/assets/js/landing.js' | url }}"></script>
<script defer src="{{ '/assets/js/landing/_appearance-animation.js' | url }}"></script>
<script defer src="{{ '/assets/js/landing/_bitcoin-animation.js' | url }}"></script>
<script defer src="{{ '/assets/js/landing/_ticker-animation.js' | url }}"></script>
<script defer src="{{ '/assets/js/landing/_contact-post.js' | url }}"></script>