---
title: Privacy | Start9 
layout: layouts/peripheral.njk
---

<section id="hero">
    <div id="hero-image" class="image-with-shadow">
        <img
            src="/assets/images/privacy-hero.png"
            alt="about page hero image: a robot emerging from the embasssy and wearing a mask"
            title="about page hero image: a robot emerging from the embasssy and wearing a mask"/>
        <img class="img-shadow" src="/assets/images/privacy-hero.png" alt=""/>
    </div>
    <div id="logo">
        <h1>
            <span>Privacy</span>
        </h1>
    </div>
</section>
<section id="principles" class="section--no-image">
    <h2>General Principles</h2>
    <p>
        At Start9 Labs, Inc (“Start9”, “we”, “us”, “our”), we believe that privacy is a basic human right and have designed our
        devices and software systems (“Products”) to uphold this principle.</p>
    <p>
            <strong>Start9 does not collect</strong>, does not want to collect, and has no reasonable means of collecting, <strong>your personal information
            from the usage of our Products</strong>.

    </p>
</section>
<section id="provisions" class="section--no-image">
    <h2>Voluntary Provisions</h2>
    <p>When you visit start9.com or our other public websites, our visitors (“customers”, “you”, “your”) may voluntarily
        provide us with certain personal information, such as your name or email address, for the purpose of receiving updates
        about our Products, or to receive a response to an inquiry.
        <strong>
            We use this information internally and do not share it with
                                    third parties.
        </strong>
        You will only receive communications from us, email or otherwise, if you have explicitly opted in to such
        communications, and you may opt out at any time.</p>
</section>
<section id="purchases" class="section--no-image">
    <h2>Online Purchases</h2>
    <p>When you purchase Products from our website, we necessarily collect certain personal information, such as name,
        email, shipping address, and payment details, in order to facilitate the transaction and conduct shipment.
        <strong>
            We do not use
                                    the information for any other purpose.
        </strong>
        Start9 relies on third party payment processors and shipping partners to conduct transactions, and have no control over
        their collection or usage of your information.</p>
</section>