@media screen and (min-width: 900px) {
  #be-your-own {
    --size: 3rem;
    --rows-above: 2;
    --rows-height: 7;
  }
}

@media screen and (max-width: 1300px) {
  #be-your-own {
    --rows-above: 1;
    --rows-height: 3;
  }
  .service__content {
    justify-content: center !important;
  }
  .service__link {
    margin: 10rem 0 0 0 !important;
    flex-direction: row !important;
  }
  .service__info {
    margin: 0 0 0 1rem !important;
    &::before {
      top: 25% !important;
      left: calc(-4rem + 2px) !important;
      align-self: flex-start !important;
      justify-content: center !important;
      border-top: 2rem transparent solid !important;
      border-right: 2rem var(--c-text-accent) solid !important;
      border-bottom: 2rem transparent solid !important;
      border-left: 2rem transparent solid !important;
    }
  }
}

@media screen and (max-width: 900px) {
  #be-your-own {
    --size: 2rem;
  }
}

#be-your-own {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  //margin: 0 0 6rem 0;
  padding: 0 6rem 0 6rem;
  box-sizing: border-box;
  width: 100%;
  //transform: translate(0px,0px);

  //--size: 3rem;
  --p-t: calc(0.2 * var(--size));
  --p-b: calc(0 * var(--size));
  --p: var(--p-t) 0 var(--p-b) calc(0.2 * var(--size));
  --line: calc(var(--p-t) + var(--p-b) + var(--size));

  h2 {
    text-align: center;
  }

  #ticker {
    height: 50vh;
    position: relative;
    width: 100%;

    #ticker__selected-frame {
      //outline: 1px solid white;
      //outline-offset: calc(0.1 * var(--size));
      font-size: var(--size);
      text-transform: uppercase;
      line-height: var(--size);
      position: absolute;
      top: calc(var(--rows-above) * var(--line));
      left: -0.5ch;
      right: 0;
      display: flex;
      align-items: center;
      height: var(--size);
      padding: var(--p);
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.08),
        rgba(255, 255, 255, 0.02)
      );
      border-bottom: 0.5rem transparent solid;
    }
    #ticker__window {
      height: calc(var(--rows-height) * var(--line));
      width: calc(100vw - 12rem - 11.5ch);
      overflow: hidden;
      font-size: var(--size);
      left: 11.5ch;
      position: relative;
    }

    ul.pseudoservices {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        font-size: var(--size);
        line-height: 1;
        display: flex;
        align-items: center;
        height: var(--size);
        padding: var(--p);
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .services {
      position: absolute;
      top: 0;
      bottom: 0;
      padding: 2rem;
      font-size: var(--size);
      left: -1rem;
      right: 0;

      img {
        border-radius: 100%;
        width: 5rem;
      }

      .service-container {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .service__content {
          width: 100%;
          color: var(--c-text-primary);
          font-size: 1rem;
          font-weight: 400;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 1rem;
          width: 100%;
          position: absolute;
          top: 0;
          bottom: 0;

          .service__link {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
            margin-right: 5rem;
            transition: var(--t-simple);
            &:hover {
              transform: scale(1.05);
            }
          }

          .service__image {
            width: 12rem;
            &.service__image--gitea,
            &.service__image--photoview {
              background-color: var(--c-bkg-offset);
              padding: 1rem;
              box-sizing: border-box;
            }
          }

          .service__info {
            background-color: var(--c-text-accent);
            width: 20ch;
            padding: 1rem;
            margin-top: 1rem;
            position: relative;
            display: flex;
            flex-direction: column;
            box-shadow: var(--sh-2);

            &::before {
              position: absolute;
              top: calc(-4rem + 2px);
              content: "";
              display: block;
              //width: 0;
              //height: 0;
              border-top: 2rem transparent solid;
              border-right: 2rem transparent solid;
              border-bottom: 2rem var(--c-text-accent) solid;
              border-left: 2rem transparent solid;
              align-self: center;
            }
            * {
              color: var(--c-text-primary);
            }
            p {
              font-size: 0.75rem;
              height: 4em;
              overflow: hidden;
            }
          }

          .service__bkg {
            filter: opacity(0.25) blur(2rem);
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: -1;
          }
        }
      }
    }
  }
  a.btn {
    align-self: center;
  }
}

.slides-controls {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  min-height: 70px;
  gap: 2rem;

  button {
    background: none;
    padding: 0;
    border: 0;
    cursor: pointer;
  }
}

.slides-container {
  position: relative;
  overflow: hidden;
  display: none;
  flex: 1;
}

.slide {
  position: absolute;
  font-size: 90px;
  font-weight: 700;
  color: var(--c-bkg-light-fade9);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  width: calc(100% / 3);
  width: 100%;
}

.slides-inner {
  position: relative;
  height: 7rem;
  width: 100%;
  overflow: hidden;
}
