section#infographics{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 3rem;
  .subsection{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 6rem 3rem;
    outline: 1px solid rgba(255,255,255,0);
    svg{
      width: 100%;
      //width: clamp(500px, 50vw, 1000px);
    }
    &:first-child{
      &::before {
        content: '';
        width: 100vw;
        position: absolute;
        background: var(--c-glass);
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
    &:last-child{
      //margin-top: 3rem;

      &::before {
        content: '';
        width: 100vw;
        position: absolute;
        background: var(--c-dark-glass);
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
  }

  .image-with-shadow{
    --width: clamp(min(400px, 90vw), 110%, 1000px);
    width: var(--width);
    z-index: 1;
    .img-shadow{
      width: 100%;
      svg{
        width: 100%;
      }
    }
  }

  #big-tech-network-image-block svg{
    height: calc((494 / 1282) * var(--width)); // force aspect ratio for iOS
  }

  #embassyos-network-image-block svg{
    height: calc((606 / 1282) * var(--width)); // force aspect ratio for iOS
  }
}