section#powered-by {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 6rem 0 6rem;
  gap: 3rem;
  h2{
    margin: 0;
    text-align: center;
  }
  .cols{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
  }
  .wrapper{
    border: var(--b-primary);
    max-width: 35ch;
    .content {
      padding: 1rem;
      h3{
        margin: 0;
        font-family: 'Tusker Grotesk 5500';
        font-weight: 100;
        font-size: 3.5rem;
        line-height: 1.1em;
        text-transform: uppercase;
      }
    }
    .footer{
      padding: 1rem;
      background: var(--c-spacer);
      display: flex;
      justify-content: center;
      border-top: var(--b-primary);

      a{
        padding: 0.4rem 2rem;
        background-color: var(--c-text-accent);
        color: var(--c-text-bright);
        border-color: var(--c-3d-shadow);
        border-width: 1px 1px 15px 1px;
        border-style: solid;
        font-family: 'Tusker Grotesk 5500';
        font-weight: 100;
        text-transform: uppercase;
        font-size: 2rem;
        text-decoration: none;
      }
    }
  }
  svg {
    --width: min(45rem, (100vw - 12rem));
    width: --width;
    //width: 45rem;
    //max-width: calc(100vw - 12rem);
    //margin-top: 6rem;
  }

  #stack-image-block svg {
    height: calc((679 / 843) * var(--width)); // forcing aspect ratio for iOS
  }

  a.source-link{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--c-text-bright);
    line-height: 1;
    gap: 1rem;
    margin-bottom: -2rem;
    img{
      width: 10rem;
    }
    span{
      background-color: var(--c-text-accent);
      border-radius: 999px;
      padding: .15em .6em;
      transition: var(--t-simple);
      white-space: nowrap;
    }
    &:hover{
      transform: scale(1.05);
      span{
        background-color: var(--c-text-primary);
        color: var(--c-text-accent);
      }
    }
    &.source-link--floated{
      position: absolute;
    }
  }

}

svg|a:link,
svg|a:visited {
  cursor: pointer;
}