section#products {
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 3rem;
  --img-width: min(35vw,500px);

  .subsection {
    transform-style: preserve-3d;
    position: relative;

    .heading {
      transition: var(--t-simple);
      z-index: 1;
    }

    .product__header {
      transition: var(--t-simple);
    }

    .product__subheader {
      font-weight: 500;
      color: var(--c-text-primary);
      text-transform: uppercase;
      transition: var(--t-simple);
    }
    img {
      transition: var(--t-simple);
      width: var(--img-width);
    }
    a {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      position: relative;
      padding: 4rem;
      //transition: var(--t-simple);
      .heading h1 {
        line-height: 0.8;
      }
      &:hover {
        .heading {
          transform: scale(1.1);
          > * {
            color: var(--c-text-accent);
          }
        }
        img{
          transform: scale(1.05);
          //opacity: .5;
        }
      }
    }
    &.subsection--buy a {
      //align-items: center;
      gap: 0.2rem;

      .heading {
        //align-self: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        //margin-top: 3rem;
      }
      h1 {
        text-transform: uppercase;
      }
      .product__subheader {
      }
      background: var(--c-glass);
      svg {
        width: var(--img-width);
        transform: scale(1.05);
        position: absolute;
      }
    }
    &.subsection--diy {
      position: absolute;
      bottom: -5rem;
      background-color: var(--c-bkg);
      a {
        &:hover {
          .heading {
            transform: none;
          }
        }

        padding: 1rem;
        align-items: flex-start;
        .heading {
          // right: 6rem;
          // top: 6rem;
          // position: absolute;
          display: flex;
          flex-direction: column;
          align-self: center;
        }
        h1 {
          letter-spacing: 0.5rem;
        }
        .product__subheader {
        }
        background: var(--c-dark-glass);
        svg {
          width: 27.5vw;
          position: absolute;
        }
      }
    }
  }
  // &::after{
  //   content: '';
  //   left:0;
  //   right:0;
  //   display: block;
  //   background-color: blue;
  //   transform: rotateX(90deg);
  //   height: 4rem;
  //   z-index: -1;
  // }
}
