section#support {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  //margin-bottom: 6rem;
  gap: 3rem;
  //transform: translate(0px,0px);
  .cols {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    .col {
      max-width: clamp(min(400px, 90vw), 20rem, 1000px);
    }
  }
  img {
    max-height: 20rem;
    max-width: 100%;
    transform: rotateZ(5deg);
  }
  // flip columns when stacking for small screens
  @media only screen and (max-width: 1200px) {
    .cols{
      flex-direction: column;
      .col:nth-child(1){
        order: 2;
      }
      .col:nth-child(2){
        order: 1;
      }
    }
  }

  @media only screen and (max-width: 500px) {
    section#support cols{
      gap: 3rem;
    }
    section#support img{
      max-height: 17rem;
    }
  }
}
